/* 共用样式 */
/* 盒子圆角边框 */
@mixin box-style {
	background-color: #FFFFFF;
	box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;

	@media screen and (max-width: 768px) {
		padding: 8px;
	}
}

/* input样式 */
@mixin input-style {
	input {
		width: 100%;
		height: 45px;
		outline: transparent solid 2px;
		outline-offset: 2px;
		border: 1px solid #DCDFE6;
		border-radius: 5px;
		transition: all 0.3s ease;
		box-sizing: border-box;

		&:hover {
			border-color: #C0C4CC;
		}

		&:focus {
			border-color: #2b0aff;
			box-shadow: #2b0aff 0 0 0 1px;
			background-color: #FFFFFF;
		}
	}
}

/* content最小高度 */
@mixin content-min-height {
	//100vh - content上下内边距 - contentType - contentType下外边距
	min-height: calc(100vh - 2rem - 50px - 1rem);

	@media screen and (max-width: 768px) {
		//100vh - content下边距 - 移动端顶部导航 - 移动端顶部导航下外边距 - contentType - contentType下外边距
		min-height: calc(100vh - 6px - 50px - 10px - 25px - 1rem);
	}
}