/* element组件自定义 */
/* element弹出框样式 */
@mixin anime-control-popover-style {
  .el-popover {
    width: auto !important;
    border-radius: 10px !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    font-size: 0.9rem !important;

    ul li {
      display: flex;
      align-items: center;
      line-height: 38px;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: border,background-color .3s;
      padding: 0 15px;
      color: #000000;
      font-size: 1rem;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: #e5e0df;
        border: 1px solid #e5e0df;
      }

      svg {
        width: 18px;
        height: 18px;
      }

      > div {
        margin-left: 10px;
      }
    }
  }
}

/* 消息提醒样式 */
@mixin message-style {
  .el-message {
    @media screen and (max-width: 768px) {
      min-width: 300px !important;
    }

    .el-message__icon, .el-message__content {
      font-size: 0.9rem !important;
    }
  }
}

/* 空状态样式 */
@mixin empty-style {
  .el-empty .el-empty__description p {
    font-size: 1rem !important;
  }
}

/* 文字提示el-Tooltip样式 */
@mixin tooltip-style {
  .el-tooltip__popper {
    font-size: .9rem !important;
    max-width: 60% !important;
  }
}

/* 对话框样式 */
@mixin message-box-style {
  .el-message-box {
    // 防止移动端图片宽度过大导致位置错乱
    @media screen and (max-width: 768px) {
      width: 95% !important;
    }
  }
}

@mixin form-style {
  .el-form-item {
    .el-form-item__label,
    .el-input {
      font-size: 1rem !important;
    }

    .el-form-item__error {
      font-size: 0.8rem !important;
      white-space: nowrap !important;
    }
  }

  .el-input .el-input__inner {
    height: 38px !important;
    &:focus {
      border: 2px solid rgb(49, 130, 206) !important;
    }
  }

  .el-form-item.is-error .el-input__inner,
  .el-form-item.is-error .el-input__inner:focus,
  .el-form-item.is-error .el-textarea__inner,
  .el-form-item.is-error .el-textarea__inner:focus,
  .el-message-box__input input.invalid,
  .el-message-box__input input.invalid:focus {
    border: 2px solid #F56C6C !important;
  }
}