/* element组件自定义 */
/* element弹出框样式 */
@mixin anime-control-popover-style {
  .el-popover {
    border-radius: 10px !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    font-size: 0.9rem !important;

    ul li {
      display: flex;
      align-items: center;
      line-height: 38px;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: border,background-color .3s;

      &:hover {
        background-color: #e5e0df;
        border: 1px solid #e5e0df;
      }

      &:last-child {
        color: red;
      }

      > svg {
        margin-left: 10px;
      }

      > div {
        margin-left: 10px;
      }
    }
  }
}

/* 消息提醒样式 */
@mixin message-style {
  .el-message {
    @media screen and (max-width: 768px) {
      min-width: 300px !important;
    }

    .el-message__icon, .el-message__content {
      font-size: 0.9rem;
    }
  }
}

/* 骨架屏样式 */
@mixin skeleton-style {
  .el-skeleton {
    margin-top: 1.5rem;

    > div .el-skeleton__image {
      width: 100%;
      height: 260px;
    }

    @media screen and (max-width: 768px) {
      > div {
        margin-top: 1rem;
        width: 100%;
      }
    }

    @media screen and (min-width: 750px) {
      display: flex;

      > div {
        margin-left: 1rem;
        width: 280px;
      }
    }
  }
}

/* 空状态样式 */
@mixin empty-style {
  .el-empty .el-empty__description p {
    font-size: 1rem;
  }
}