/* element组件自定义 */
/* element弹出框样式 */
@mixin anime-control-popover-style {
  .el-popover {
    width: auto !important;
    border-radius: 10px !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    font-size: 0.9rem !important;

    ul li {
      display: flex;
      align-items: center;
      line-height: 38px;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: border,background-color .3s;
      padding: 0 15px;

      &:hover {
        background-color: #e5e0df;
        border: 1px solid #e5e0df;
      }

      > div {
        margin-left: 10px;
      }

      &:last-child {
        color: red;

        svg {
          fill: red;
        }
      }
    }
  }
}

/* 消息提醒样式 */
@mixin message-style {
  .el-message {
    @media screen and (max-width: 768px) {
      min-width: 300px !important;
    }

    .el-message__icon, .el-message__content {
      font-size: 0.9rem;
    }
  }
}

/* 空状态样式 */
@mixin empty-style {
  .el-empty .el-empty__description p {
    font-size: 1rem;
  }
}

/* 文字提示el-Tooltip样式 */
@mixin tooltip-style {
  .el-tooltip__popper {
    font-size: .9rem;
    max-width: 60%;
  }
}